<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>[t:/] ##title##</title>
<link rel="stylesheet" type="text/css" href="https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css">
<link rel="stylesheet" type="text/css" href="https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css">
<link rel=stylesheet type=text/css href="##docroot##/css/style.css">
<!--[if (lt IE 9) & (!IEMobile)]>
<link rel=stylesheet type=text/css href="##docroot##/css/style2.css">
<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class=page>
    <div class=home><a href="##docroot##">[t:/]</a></div>
    ##body##
</div>
<div class=footer>
<span class=ft>[t:/] is not "technology - root". dawnsea, python, github, 2016, ... <a href="rss.xml">/rss</a></span>
</div>
</html>
